<div class="nav-links">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <i class="fas fa-home"></i> Home
    </NavLink>
    <NavLink class="nav-link" href="experience">
        <i class="fas fa-briefcase"></i> Experience
    </NavLink>
    <NavLink class="nav-link" href="skills">
        <i class="fas fa-code"></i> Skills
    </NavLink>
    <NavLink class="nav-link" href="aviation">
        <i class="fas fa-plane"></i> Aviation
    </NavLink>
    <NavLink class="nav-link" href="contact">
        <i class="fas fa-envelope"></i> Contact
    </NavLink>
</div>
