<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">personal_website</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-links">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home"></i> Home
            </NavLink>
            <NavLink class="nav-link" href="experience">
                <i class="fas fa-briefcase"></i> Experience
            </NavLink>
            <NavLink class="nav-link" href="skills">
                <i class="fas fa-code"></i> Skills
            </NavLink>
            <NavLink class="nav-link" href="aviation">
                <i class="fas fa-plane"></i> Aviation
            </NavLink>
            <NavLink class="nav-link" href="contact">
                <i class="fas fa-envelope"></i> Contact
            </NavLink>
        </div>
    </nav>
</div>
